.new-task {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .add-btn {
    width: 40px;
    height: 40px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  