.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
  }
  
  .task-list li {
    padding: 10px;

    display: flex;
    align-items: center;
  }
  
  .task-list li.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  .delete-btn {
    margin-left: auto;
    padding: 0 5px;
    border: none;
    background: transparent;
    color: #999;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    color: #666;
  }

  .task-separator {
    border-top: 2px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
    color: #888;
    text-align: center;
  }
  