body {
  font-family: 'Arial', sans-serif;
  background: #ffecd8;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo-container {
  background: white;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filters button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #007bff;
  color: white;
}

.filters button.active {
  background-color: #007bff;
  color: white;
}