.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .date {
    text-align: right;
    font-size: 12px;
  }
  
  .date-number {
    font-size: 18px;
    font-weight: bold;
  }